.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo_container h2 {
  margin: 0;
}

.image_container {
  min-width: 5rem;
  min-height: 5rem;

  margin: 1rem;

  position: relative;
}

@media (min-width: 2000px) {
  .logo_container h2 {
    font-size: 3rem;
  }

  .image_container {
    min-width: 7rem;
    min-height: 7rem;
  }
}
