.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;

  margin: 1rem 0;

  position: relative;
}

.image_container {
  position: relative;
  width: 8rem;
  aspect-ratio: 1 / 1;
}

.text_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  padding: 1.2rem 1.5rem 0 0;
}

.name {
  grid-column: 1 / 3;

  font-size: 2rem;
  font-weight: 700;

  margin: 0;
}

.total {
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;

  align-content: center;

  color: var(--color-primary);

  margin: 0;
}

.total > span {
  font-weight: 400;
}

.counter {
  width: fit-content;
  align-self: flex-end;

  scale: 0.8;
}

.remove_icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  color: red;

  cursor: pointer;
}
