@font-face {
  font-family: vazir;
  src: url("../public/vazir.ttf");
}

:root {
  --color-primary: #765827;
  --color-dark-primary: #65451f;
  --color-light-primary: #c8ae7d;

  --color-secondary: #ffc26f;

  --color-light-0: #fff;
  --color-light-100: #dac8b1;
  --color-light-150: #e4d7c63f;
  --color-light-200: #eac696;

  --color-dark-0: #000;
  --color-dark-100: #140c00;
  --color-dark-200: #221400;
  --color-dark-300: #331e00;
  --color-dark-350: #331e00c5;
  --color-dark-400: #553200;
  --color-dark-500: #81500c;

  --shadow-dark-100: #1d11005d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light-100);
  color: var(--color-dark-primary);

  font-size: 1.6rem;
  font-family: vazir;

  direction: rtl;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
textarea,
input {
  font-family: vazir;
}

::placeholder {
  color: var(--color-light-primary);
  opacity: 1;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-300);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-200);
}

/* BREAKPOINTS */
/* more than 1200px */
@media (min-width: 2000px) {
  html {
    font-size: 62.5%;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 54%;
  }
}

/* 979px */
@media (max-width: 979px) {
  html {
    font-size: 50%;
  }
}

/* 768px */
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

/* 480px */
@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
}
