.main {
  margin: 3rem;
  border-radius: 1rem;
  position: relative;
  height: 50rem;

  overflow: hidden;
}
.home {
  color: var(--color-light-0);

  width: 100%;

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  font-size: 4rem;

  animation: rise 0.8s ease-in-out;
}

.primary_text {
  color: var(--color-light-primary);
}

.description {
  margin: 1rem 0;
  font-size: 2.2rem;
  color: var(--color-light-100);

  animation: rise 0.8s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;

  gap: 1.5rem;
}

.munu_button {
  animation: to-right 0.7s ease-out;
  transition: all 0.3s ease-in-out;
}

.menu_icon {
  transition: all 0.5s ease-in;
}

.munu_button:hover {
  box-shadow: 0 0 1rem var(--color-dark-400);
}

.munu_button:hover .menu_icon {
  transform: translateX(-20%);
  transition: all 0.3s ease-out;
}

.random_button {
  transition: all 0.3s ease-in-out;
  animation: to-left 0.7s ease-out;
}

.random_button:hover {
  box-shadow: 0 0 1rem var(--color-dark-primary);
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  80% {
    opacity: 1;
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes to-right {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes to-left {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
