.container {
  background-color: var(--color-dark-primary);
  color: #fff;

  margin: 2rem auto;
  max-width: 60rem;

  padding: 1.5rem 2.5rem;

  border-radius: 0.5rem;
}

.item > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item > .title > * {
  margin: 0;
}

.item > .title > h3 {
  font-weight: 600;
}

.item > .title > p {
  padding-top: 0.5rem;
}

.address {
  font-size: 1.4rem;
}
