.container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  padding-top: 3rem;
}

.container > * {
  width: 45%;
}

@media (max-width: 979px) {
  .container {
    flex-flow: column;
    align-items: center;
  }

  .container > * {
    width: 70%;
  }
}
